<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thêm Từ Mới</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
      <header class="header">
        <h1 id="title" class="text-center">
         Thêm File Âm Thanh
      </header>
      <form>
        <label for="file">Select files</label>
        <input id="file" type="file" name="file" required />
        
      <div class="form-group">
          <a href='/'>Tải Lên</a>
      </div>
      </form>
    </div>
  
    <script>
      document.getElementById('survey-form').reset()
    </script>
  </body>
  
  </html>