.border-right{
    border-right: 1px solid rgb(0, 0, 0);
    height: 100vh;
}

.border-right-table{
    border-right: 1px solid rgb(0, 0, 0);
    border-right-width: 1px ;
}
.mt-2{
    margin-top: 2;
}

